<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VodacomMessageSandbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VodacomMessageSandbox.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>41.1.224.71</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>39008</value>
            </setting>
            <setting name="msisdn" serializeAs="String">
                <value>027832298563</value>
            </setting>
            <setting name="InstitutionId" serializeAs="String">
                <value>901051</value>
            </setting>
        </VodacomMessageSandbox.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
